.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

.advantages-icon {
  display: none;
}

@media (min-width: 1158px) {
  .advantages-icon {
    display: block;
  }
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*header*/

.header-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-sckrol,
.cnt {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.accent-logo {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }

  .nav-sckrol {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-sckrol .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    position: relative;
  }

  .link {
    text-decoration: none;
    padding: 24px 0;
  }

  .cnt {
    font-style: normal;
    display: block;
  }

  .cnt-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .cnt-address {
    font-weight: 400;
    font-size: 12px;
    color: #434455;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration: none;
  }

  .burger-btn {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .nav-sckrol .link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-sckrol .link:focus,
  .nav-sckrol .link:hover {
    color: #404bbf;
  }

  .nav-sckrol .link::after {
    border-radius: 2px;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background: #404bbf;
    content: "";
    position: absolute;
    transform: scaleX(0);
  }

  .nav-sckrol .link:hover::after,
  .nav-sckrol .link:focus::after {
    transform: scaleX(1);
  }

  .cnt-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  .cnt-address {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .cnt .cnt-address:hover,
  .cnt .cnt-address:focus {
    color: #404bbf;
  }
}

/*mobile menu*/

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  display: block;
  margin-left: auto;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  stroke-width: 1px;
  stroke: #2e2f42;
}

.nav-sckrol-mob {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
  margin-top: 24px;
}

.nav-sckrol-mob .link-mob {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-sckrol-mob .link-mob:focus,
.nav-sckrol-mob .link-mob:hover {
  color: #404bbf;
}

.link-mob {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.cnt-mob {
  font-style: normal;
}

.cnt-address-mob {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cnt-mob .cnt-address-mob:hover,
.cnt-mob .cnt-address-mob:focus {
  color: #404bbf;
}

.cnt-list-mob {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.social-icons {
  stroke: #fff;
  fill: #f4f4fd;
}

.social-mob {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }
}

/*main page*/

.main-page {
  align-items: center;
  text-align: center;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  background-color: #2e2f42;
}

.main-page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 216px;
}

.main-page-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border: none;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .main-page {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg-mob@2x-min.jpg");
  }
}

@media screen and (min-width: 768px) {
  .main-page {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg-tab-min.jpg");
  }

  .main-page-title {
    font-size: 56px;
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .main-page {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg-tab@2x-min.jpg");
  }
}

@media screen and (min-width: 1158px) {
  .main-page {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office\ 1-min.jpg");
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .main-page {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office\ 1@2x-min.jpg");
  }

  .main-page-title {
    margin-bottom: 48px;
    line-height: 1.5;
    font-size: 56px;
  }

  .main-page-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .main-page-btn:hover,
  .main-page-btn:focus {
    background-color: #404bbf;
  }
}

/*second page*/

.second {
  background-color: #fff;
}

.second-page-list {
  display: flex;
  flex-wrap: wrap;
  padding: 96px 16px;
  gap: 72px;
}

.second-page {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.second-page-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .second-page-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .second-page-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .second-page-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .second-page-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .second-page-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .second-page {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.third-page {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.third-page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.worker-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.worker {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.worker-list-item {
  padding: 32px 0;
}

.worker-person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.worker-person-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.social {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.social-icons {
  stroke: #fff;
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .third-page {
    background-color: #fff;
    margin-left: 108px;
    margin-right: 108px;
  }

  .worker-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .worker {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .third-page {
    background: #f4f4fd;
    margin: 0 auto;
  }

  .worker-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .worker {
    flex-basis: calc((100% - 72px) / 4);
  }

  .social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link:focus {
    background-color: #404bbf;
  }

  .social-link:hover {
    background-color: #404bbf;
  }
}

.fourth {
  padding-top: 96px;
  padding-bottom: 96px;
}

.fourth-page {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  border: 1px solid #e7e9fc;
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-front {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 360px;
}

.portfolio-front img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-back-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color, #f4f4fd);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.portfolio-item:hover .portfolio-back-text {
  transform: translateY(0%);
}

.portfolio-content {
  padding: 32px 16px;
}

.portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .portfolio-item {
    flex-basis: calc((100% - 48px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    flex-basis: calc((100% - 96px) / 3);
  }
}

.footer {
  background: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 72px;
}

.footer-text-block {
  max-width: 288px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 17px;
}

.footer-accent-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.footer-social-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-social {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social-list {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background: #31d0aa;
}

.sbs-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-sub-email {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 12px 16px;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.3;
  outline: none;
  margin-bottom: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-sub-email:focus-within {
  border-color: #4d5ae5;
}

.form-sub-email::placeholder {
  color: #fff;
}

.form-sub-btn {
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  fill: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250 ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-sub-btn:hover {
  background-color: #404bbf;
}

.sbs-button {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 108px;
    gap: 72px;
  }

  .footer-text-block {
    max-width: 264px;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .sbs-title {
    margin-bottom: 16px;
  }

  .form {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer-text-block {
    max-width: 264px;
  }

  .footer-logo {
    margin-bottom: 16px;
  }

  .footer-social-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 208px;
  }

  .subscribe {
    display: flex;
    padding: 0;
  }

  .form {
    display: flex;
    flex-direction: row;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop:not(.is-open) .modal-window {
  transform: translate(-50%, -100%);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  box-sizing: border-box;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 16px;
}

.modal-close-btn {
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  margin-bottom: 24px;
}

.close-button {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal {
  flex-direction: column;
  gap: 12px;
  font-family: "Roboto", sans-serif;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input {
  position: relative;
}

.modal-icon {
  display: inline-flex;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  fill: #2e2f42;
}

.modal-field-input,
.modal-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  padding: 8px 16px 8px 38px;
  color: #2e2f42;
}

.modal-field-input {
  height: 40px;
}

.textarea {
  margin-bottom: 16px;
}

.modal-comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  height: 120px;
  padding-left: 16px;
  resize: none;
}

.checkbox {
  margin-bottom: 24px;
}

.modal-checkbox {
  margin-top: 4px;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  fill: transparent;
  display: inline-flex;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .privacy .custom-checkbox {
  border: none;
  fill: #f4f4fd;
  background-color: #404bbf;
}

.modal-checkbox:checked + .privacy .checkbox-icon {
  fill: #404bbf;
}

.privacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  gap: 8px;
  align-items: center;
}

.privacy-accent {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
  color: #4d5ae5;
}

.modal-btn {
  display: block;
  padding: 0;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
    min-height: 584;
  }
}

@media screen and (min-width: 1158px) {
  .modal-close-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-button {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .modal-close-btn:hover .close-button,
  .modal-close-btn:focus .close-button {
    fill: #ffffff;
  }

  .modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input:has(.modal-field-input:focus) .modal-icon {
    fill: #4d5ae5;
  }

  .modal-field-input:hover,
  .modal-field-input:focus,
  .modal-comment:hover,
  .modal-comment:focus {
    border-color: #4d5ae5;
  }

  .custom-checkbox {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .checkbox-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-checkbox:checked + .privacy .custom-checkbox {
    border: none;
    fill: #f4f4fd;
    background-color: #404bbf;
  }

  .modal-checkbox:checked + .privacy .checkbox-icon {
    fill: #404bbf;
  }

  .modal-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-btn:hover {
    background-color: #404bbf;
    border: none;
  }
}
